.trip-table-container {
  overflow: hidden !important;
}

.trip-tables {
  display: flex;
}

.trip-table-container .table-responsive {
  flex: 1;
  margin: 10px;
  min-width: 300px;
}

.trip-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.trip-table-container th,
.trip-table-container td {
  border: 1px solid #fff5de;
  padding: 8px;
  text-align: left;
}

.trip-table-container th {
  background-color: #fff5de;
}

.trip-table-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  .trip-tables {
    flex-direction: column;
  }
}
