.home-container-carousel {
  height: 100vh !important;
  overflow: hidden;
}
.home-container-carousel .carousel-indicators {
  display: none;
}
.home-container-carousel p {
  font-size: 16px !important;
}

.home-container-carousel .image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-container-carousel .carousel-caption .hero-carousel-selected-highlight {
  background-color: #fff;
  color: #ffcc00;
  padding: 8px 20px;
  border-radius: 10px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  box-shadow: -2px 46px 85px -33px rgba(255, 204, 0, 0.32);
  font-size: 20px;
  margin-left: 20px;
}

.carousel-control-icon {
  font-size: 1.5rem;
  color: white;
  background-color: rgba(255, 207, 47, 0.219);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(255, 255, 255);
    color: var(--theme-color);
    transition: all 0.3s;
  }
}

.carousel-control-prev {
  left: -30px;
}

.carousel-control-next {
  right: -30px;
}

.home-container-carousel .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.715);
  z-index: 1;
  pointer-events: none;
}
.home-container-carousel .carousel-item img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  animation: zoom 10s ease-in-out infinite;
}

.home-container-carousel .caption-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.home-container-carousel .carousel-caption {
  text-align: center;
  z-index: 3;
}
.home-container-carousel .carousel-caption .hero-carousel-title {
  color: #ffffff;
  font-size: clamp(30px, 5vw + 20px, 60px);
  font-family: "Archivo", sans-serif;
  text-align: center;
  font-weight: bolder;
}
.home-container-carousel .carousel-caption .hero-carousel-title span {
  color: var(--main-color);
}
.home-container-carousel .carousel-caption .hero-carousel-highlight {
  font-weight: bolder;
  letter-spacing: 4px;
  color: var(--main-color);
}

.home-container-carousel .carousel-caption p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

@media (max-width: 991px) {
  .home-container-carousel {
    height: auto !important;
  }
}

/* Keyframes for zoom-in and zoom-out animation */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.home-container-carousel .carousel-caption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
}

.home-container-carousel .carousel-caption h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: bold;
  color: #000;
}

/* .home-container-carousel .carousel-caption .btn {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  padding: 0.5rem 1rem;
} */

.home-container-carousel button {
  font-size: 16px;
  color: var(--color-dark);
  padding: 18px 30px;
  transition: all 0.5s;
  text-transform: uppercase;
  position: relative;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: none;
  background: var(--theme-color);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.home-container-carousel button::before {
  content: "";
  height: 300px;
  width: 300px;
  background: var(--color-white);

  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: -1;
}

.home-container-carousel button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.home-container-carousel button:hover a {
  color: #000 !important;
  transition: all 0.3s;
}

@media (max-width: 991px) {
  /* .home-container-carousel {
    height: auto; 
  } */

  .home-container-carousel .carousel-caption .hero-carousel-highlight {
    font-size: 16px !important;
  }

  .home-container-carousel .carousel-caption .hero-carousel-selected-highlight {
    font-size: 16px;
  }

  /* .home-container-carousel .carousel-caption {
    top: 35% !important;
    left: 5%;
  } */

  .home-container-carousel .carousel-caption h1 {
    font-size: 2rem !important;
  }

  .home-container-carousel .carousel-caption p,
  .home-container-carousel .carousel-caption h5 {
    font-size: 1rem !important;
  }

  .home-container-carousel .carousel-caption .btn {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 768px) {
  .home-container-carousel .carousel-caption {
    top: 35% !important;
    left: 5%;
  }
  .home-container-carousel img {
    width: 100%;
    height: 400px !important;
    object-fit: cover;
  }
  .home-container-carousel .carousel-control-prev {
    left: 10px;
    z-index: 2;
  }
  .home-container-carousel .carousel-control-next {
    right: 10px;
    z-index: 2;
  }

  .home-container-carousel .carousel-caption {
    top: 25%;
    left: 5%;
  }

  .home-container-carousel .carousel-caption h1 {
    font-size: 1.5rem !important;
  }

  .home-container-carousel .carousel-caption p,
  .home-container-carousel .carousel-caption h5 {
    font-size: 10px !important;
  }

  .home-container-carousel .carousel-caption .btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }
}
